
__pycache__/constants.cpython-37.pyc
*.pyc
WebCrawlers/.vscode/settings.json
.vscode/launch.json
WebCrawlers/.vscode/launch.json
TextMining/.vscode/launch.json
TextMining/helper___functions.py
WebCrawlers/AsosImages
WebCrawlers/SoliverImages
WebCrawlers/ZalandoImages
WebCrawlers/temp
*.jpeg
ImageAnnotation/keywords.txt
WebCrawlers/keywords.txt
ImageAnnotation/keywords.txt
*Untitled*.ipynb
config_test.json
.idea/Science4Fashion_ref.iml
.idea/misc.xml
ImageAnnotation/Prediction/models/sleeve.pkl
ImageAnnotation/Prediction/models/neckline.pkl
ImageAnnotation/Prediction/models/length.pkl
ImageAnnotation/Prediction/models/fit.pkl
ImageAnnotation/Prediction/models/collar.pkl
ImageAnnotation/Color/.ipynb_checkpoints/Color Calculation-checkpoint.ipynb
TextMining/.ipynb_checkpoints/TextMining-checkpoint.ipynb
ImageAnnotation/Color/Color Calculation.ipynb
Clustering/Full clustering evaluation.ipynb
Clustering/Clustering.ipynb
Clustering/Clustering evaluation.ipynb
Clustering/.ipynb_checkpoints/Full clustering evaluation-checkpoint.ipynb
Clustering/.ipynb_checkpoints/Clustering-checkpoint.ipynb
Clustering/.ipynb_checkpoints/Clustering evaluation-checkpoint.ipynb
ImageAnnotation/Color/Color Calculation.ipynb
Clustering/Cluster_Ensembles.h5
ImageAnnotation/Prediction/pytorchPredictAttributes.py
ImageAnnotation/Prediction/evaluateResults.py
ImageAnnotation/Prediction/constants.py
WebCrawlers/PinterestCrawler/scraper_data/idare.issel@gmail.com/registry.dat
TextMining/TextMining.ipynb
run_all.py
WebCrawlers/debug.log
WebCrawlers/.ipynb_checkpoints/Pinterest-checkpoint.ipynb
WebCrawlers/.ipynb_checkpoints/Instagram-checkpoint.ipynb
Clustering/.ipynb_checkpoints/Consensus Clustering-checkpoint.ipynb
Clustering/.ipynb_checkpoints/K-Modes Clustering-checkpoint.ipynb
resources/models/product_attributes/collar.pkl
resources/models/product_attributes/fit.pkl
resources/models/product_attributes/length.pkl
resources/models/product_attributes/neckline.pkl
resources/models/product_attributes/sleeve.pkl
.vscode/settings.json
WebCrawlers/Pinterest-checkpoint.ipynb
WebCrawlers/Instagram.ipynb
WebCrawlers/Instagram-checkpoint.ipynb
TextMining/TextMining-checkpoint.ipynb
ImageAnnotation/Color/pdfimagesagain.ipynb
ImageAnnotation/Color/Color Calculation-checkpoint.ipynb
Clustering/K-Modes Clustering.ipynb
Clustering/K-Modes Clustering-checkpoint.ipynb
Clustering/Full clustering evaluation-checkpoint.ipynb
Clustering/Consensus Clustering.ipynb
Clustering/Consensus Clustering-checkpoint.ipynb
WebCrawlers/Pinterest.ipynb
data/idare.issel@gmail.com
*_model.pkl
