
__pycache__/constants.cpython-37.pyc
*.pyc
WebCrawlers/.vscode/settings.json
.vscode/launch.json
WebCrawlers/.vscode/launch.json
TextMining/.ipynb_checkpoints/Untitled-checkpoint.ipynb
TextMining/.vscode/launch.json
TextMining/helper___functions.py
TextMining/Untitled.ipynb
WebCrawlers/.ipynb_checkpoints/Untitled-checkpoint.ipynb
WebCrawlers/Untitled.ipynb
WebCrawlers/AsosImages
WebCrawlers/SoliverImages
WebCrawlers/ZalandoImages
WebCrawlers/temp
*.jpeg
ImageAnnotation/keywords.txt
WebCrawlers/keywords.txt
ImageAnnotation/keywords.txt
*Untitled*.ipynb
config_test.json
.idea/Science4Fashion_ref.iml
.idea/misc.xml
ImageAnnotation/Prediction/models/sleeve.pkl
ImageAnnotation/Prediction/models/neckline.pkl
ImageAnnotation/Prediction/models/length.pkl
ImageAnnotation/Prediction/models/fit.pkl
ImageAnnotation/Prediction/models/collar.pkl
