
__pycache__/constants.cpython-37.pyc
*.pyc
WebCrawlers/.vscode/settings.json
.vscode/launch.json
WebCrawlers/.vscode/launch.json
TextMining/.ipynb_checkpoints/Untitled-checkpoint.ipynb
TextMining/.vscode/launch.json
TextMining/helper___functions.py
TextMining/Untitled.ipynb
WebCrawlers/.ipynb_checkpoints/Untitled-checkpoint.ipynb
WebCrawlers/Untitled.ipynb
WebCrawlers/AsosImages
WebCrawlers/SoliverImages
WebCrawlers/ZalandoImages
WebCrawlers/temp
*.jpeg
