# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\sotiris\OneDrive - Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης\Σωτήρης\Science4Fashion\SCIENCE4FASHION - REFACTOR\Science4Fashion_ref\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
